//Переменные и константы + atomic

$theme-colors: (
  "primary": #4545a5,
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #fbfbfb,
  "dark": #343a40,
  "gray": #efefef,
);

// Здесь была функция выбора цвета

$enable-shadows: true;
$enable-negative-margins: true;

$container-max-widths: (
  xxl: 1540px,
);

$grid-gutter-width: 3rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

$rem-base: 16px;

@function px-to-rem($list) {
  $result: ();

  @each $value in $list {
    $result: append($result, (($value / $rem-base) * 1rem));
  }

  @return #{$result};
}

$spacer: 1rem;

$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: (
    $spacer * 1,
  ),
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 2,
  ),
  6: (
    $spacer * 2.5,
  ),
  7: (
    $spacer * 3,
  ),
  8: (
    $spacer * 4.5,
  ),
  9: (
    $spacer * 5,
  ),
  10: (
    $spacer * 5.5,
  ),
  11: (
    $spacer * 6,
  ),
);
